* {

    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background-color: rgb(247,220,180);
}

nav {

    width: 100%;
    height: 100px;
    background-color: rgb(169,125,93);

}

ul li {

    list-style:none;
    display: inline-block;
    line-height: 100px;
    font-weight: bold;  

}

ul li a {

    margin-left: 200px;
    font-size: 30px;
    font-family: Arial;
    color: white;
    padding: 0 20px;

}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(169,125,93);
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    font-weight: bold;
    outline: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 200px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(92, 117, 94);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(78, 99, 80);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: none;}

table {

    margin-left: auto;
    margin-right: auto;
    

} 
th {

    color: white;
    padding: 6px;
    text-align: left;
    width: 400px;
    height: 30px;
    font-size: 32px;

}
td {

    color: white;
    padding: 6px;
    text-align: left;
    width: 400px;
    height: 10px;
    font-size: 20px;

}

.h1_footer {

    margin-top: 40px;
    margin-left: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;

}

footer {

    margin-top: 200px;
    width: 100%;
    height: 400px;
    background-color: rgb(169,125,93);
    position: relative;
    bottom: 0;

}
.footer_nav {

    background-color: rgb(169,125,93);
    position: relative;
    bottom: 0;

}
ul li {

    list-style: none;
    display: inline-block;
    line-height: 100px;
    font-weight: bold;  

}
.ul_li_left {

    float: left;

}
.ul_li_right {

    
    float: right;
    margin-right: 60px;

}
ul li a {

    font-size: 30px;
    font-family: Arial;
    color: white;
    padding: 0 20px;

}

table {

    margin-left: auto;
    margin-right: auto;
    

} 
th {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 6px;
    text-align: left;
    width: 400px;
    height: 30px;
    font-size: 32px;

}
td {

    color: white;
    padding: 6px;
    text-align: left;
    width: 400px;
    height: 10px;
    font-size: 20px;

}

.blog_lines {

border: 1px solid black;
width: 99.9%;
width: 40%;
margin-right: 30%;
margin-left: 30%;
margin-top: 200px;

}

.special {
    background-color: white;
}

.special-th {
    color: black;
}

.special-td {
    color: black;
}

.info {
    border-radius: 6px;
    background-color: rgb(92,117,94);
    margin-left: 20%;
    width: 60%;
    height: auto;
    margin-top: 100px;
}

.one {
    width: 24.5%;
    height: 25px;

    display: inline-block;
}
.two {
    vertical-align: center;
    width: 24.5%;
    height: 25px;

    display: inline-block;
}
.three {
    width: 24.5%;
    height: 25px;
 
    display: inline-block;
}
.four {
    width: 24.5%;
    height: 25px;

    display: inline-block;
}

.info-line {
    border: 1px solid black;
    border-radius: 6px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-header {
    display: inline-block;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 75px;
}

.name {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: inline-block;
    padding-left: 30px;
}
.amnt {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: inline-block;
    padding-left: 10px;
}
.freq {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: inline-block;
    padding-left: 10px;
}
.addit {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: inline-block;
    padding-left: 50px;
}
a {
    color: white;
}